<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="extract_snippets"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      	<run class="cn.yyx.research.program.linker.bootstrap.LinkExtractor"/>
      </application>
   </extension>
   <extension
         id="linker_perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.yyx.research.program.linker.bootstrap.UI.ApplicationWorkbenchPerspective"
            id="cn.yyx.research.program.varbased.linker.app_perspective"
            name="linker_perspective">
      </perspective>
   </extension>
</plugin>
